<template>
    <div class="messenger-infoView app-scroll">
        <nav>
            <a href="#">
                <i class="fa fa-times"></i></a>
        </nav>
        <div class="avatar av-l"
             :style='{ backgroundImage: "url(../storage/users-avatar/" + userAvatar + ")", }'>
        </div>
        <p class="info-name">{{ userName}}</p>
        <div class="messenger-infoView-btns">
            <a href="#" class="danger delete-conversation" style="display: inline;">
                <i class="fas fa-trash-alt"></i> Delete Conversation</a>
        </div>

        <div class="messenger-infoView-shared" style="display: block;">
            <p class="messenger-title">shared photos</p>
            <div class="shared-photos-list">

            </div>
            <div class="shared-photos-list">
                <div class="shared-photo chat-image" v-for="(value, index )  in sharedImage " v-if="value.attachment !=''"
                     :style='{ backgroundImage: "url(../storage/attachments/" + value.attachment + ")", }'></div>
<!--                <p class="message-hint"  v-else><span>Nothing shared yet</span></p>-->
            </div>
        </div>
    </div>


</template>

<script>
    export default {
        props: ['user'],
        computed: {
            userId() {
                return this.$store.state.user_id
            },
            userName() {
                return this.$store.state.user_name
            },
            userAvatar() {
                return this.$store.state.user_avatar
            },
            sharedImage() {
                return _.orderBy(this.$store.state.data_message, 'created_at','desc')
            }
        },
        methods: {}
    }
</script>
