<template>

    <div class="messenger-sendCard" style="display: block;" v-if="userId !=0">
        <div class="form">
            <span class="fa fa-plus-circle  " @click="showIcon" ></span>
            <label style="display: inline-flex; display:none; " class="show-icon">
                <span class="fa fa-file"></span>
                <span class="fa fa-camera"></span>
                <span class="fa fa-location-arrow"></span>
            </label>
            <label >
                <span class="fa fa-image"></span>
                <input type="file" class="upload-attachment" name="file" accept="image/*"
                       @change="processFile($event)">
            </label>
            <textarea id="editor-area" name="message" class="m-send app-scroll" placeholder="Type a message.." v-model="messages_data"
                      @keyup.enter="sendMessage(userId)"
                      style="overflow: hidden; overflow-wrap: break-word;">
            </textarea>
            <button style="display: inline-flex">
                <span class="fa fa-paper-plane" @click="sendMessage(userId)"></span>
            </button>
        </div>
    </div>
</template>

<script>
    import VueEmoji from 'emoji-vue'

    export default {
        data() {
            return {
                messages_data: '',
                image: [],
            }
        },
        components: {
            VueEmoji
        },
        computed: {
            userId() {
                return this.$store.state.user_id
            }
        },
        methods: {

            processFile(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            sendMessage(val) {
                if (this.messages_data.trim().length > 0 || this.image.length > 0) {
                    $('#editor-area').val('');
                    axios.post('/private-messages/' + val, {
                        messages: this.messages_data,
                        file_name: this.image ,
                        from_id: val
                    })
                        .then(function (response) {
                            $('.attachment-preview').hide();

                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    this.image='';
                    this.messages_data = '';
                }
            },
            showIcon(){
                $('.show-icon').css('display', 'inline-block');
            }

        }
    }
</script>
