<template>
    <ul class="messages m-body app-scroll " v-if="userId" ref="container">
        <li v-for="(message, index) in messages" class="messages-item">
            <div :class="`message-card  ${message.from_id === userId ? ' mc-sender' : ''}`">
                <div class="avatar av-s header-avatar"
                     :style='{ backgroundImage: "url(../storage/users-avatar/" + userAvatar + ")", }'></div>

                <div >
                    <div class="image-file chat-image" style="width: 250px; height: 150px ;    "
                         v-if="message.attachment !==''"
                         :title=" message.created_at| formatDate "
                         :style='{ backgroundImage: "url(../storage/attachments/" + message.attachment  + ")", }'>
                    </div>
                    <span data-toggle="tooltip" data-placement="top" v-if="message.message"
                       :title=" message.created_at| formatDate ">{{message.message }}
                    </span>
                </div>
                </div>


        </li>
    </ul>
    <p class="message-hint" style="margin-top: calc(30% - 126.2px);" v-else><span>Please select a chat to start messaging</span>
    </p>
</template>

<script>

    export default {
        data() {
            return {
                users_id: '',
                messages:''
            }
        },


        computed: {
            userId() {
                this.messages = this.$store.state.data_message;
                this.users_id = this.$store.state.user_id;
                return this.$store.state.user_id
            },

            userAvatar() {

                return this.$store.state.user_avatar
            },
            loadMessage(){
                return this.$store.state.data_message
            }

        },
        methods: {
            scrollToEnd() {
                let content = this.$refs.container;
                content.scrollTop = content.scrollHeight;
            }
        },
        updated() {
            // This will be called when the component updates
            // try toggling a todo
            this.scrollToEnd();
        },

    };

</script>
