<template>
    <div class="messenger-listView">
        <div class="m-header">
            <nav>
                <a href="#"><i class="fas fa-inbox"></i> <span class="messenger-headTitle">MESSAGES</span> </a>
                <nav class="m-header-right">
                    <a href="#"><i class="fa fa-cog settings-btn"></i></a>
                    <a href="#" class="listView-x"><i class="fa fa-times"></i></a>
                </nav>
            </nav>
            <input type="text" @keyup="search()" v-model="searchText" class="search-key messenger-search"
                   placeholder="Search">
            <div class="messenger-listView-tabs">
                <a href="#" class="active-tab" data-view="users">
                    <span class="fa fa-user"></span> People</a>
                <a href="#" class="active-tab" data-view="groups">
                    <span class="fa fa-users"></span> Groups</a>
            </div>
        </div>
        <div class="m-body">
            <div class=" show messenger-tab app-scroll" data-view="users">
                <p class="messenger-title">Favorites</p>
                <div class="messenger-favorites app-scroll-thin">
                    <p class="message-hint"><span>Your favorite list is empty</span></p>
                </div>
                <div class="listOfContacts" style="width: 100%;height: calc(100% - 200px);">
                    <table class="messenger-list-item m-li-divider " v-for="(value, index )  in users"
                           :class="{ 'm-list-active': value.id === selected_id }">
                        <tbody>
                        <tr @click="activeChat(value)" v-if="value.id==users_id">
                            <td>
                                <div class="avatar av-m" style="background-color: #d9efff; text-align: center;">
                                    <span class="fa fa-bookmark"
                                          style="font-size: 22px; color: #68a5ff; margin-top: calc(50% - 10px);"></span>
                                </div>
                            </td>
                            <td>
                                <p data-id="user_1">Saved Messages <span>You</span></p>
                                <span>Save messages secretly</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="messenger-list-item " :class="{ 'm-list-active': value.id === selected_id }"
                           v-for="(value, index )  in users">
                        <tbody>
                        <tr @click="activeChat(value)"
                            v-if="value.id!=users_id && users_id != 0">
                            <td style="position: relative">
                                <div class="avatar av-m"
                                     :style='{ backgroundImage: "url(../storage/users-avatar/" + value.avatar + ")", }'
                                     v-if=" value.avatar !=null"></div>
                                <div class="avatar av-m" v-else></div>
                            </td>
                            <td>
                                <p data-id="user_2">
                                    {{value.name}}
                                    <span>{{ value.created_at| formatDate }}</span>
                                    <span class="unread" v-if="value.unread">{{ value.unread }}</span>
                                </p>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class=" messenger-tab app-scroll" data-view="groups">
                <p style="text-align: center;color:grey;">Soon will be available</p>
            </div>

            <div class="messenger-tab app-scroll" data-view="search">
                <p class="messenger-title">Search</p>
                <div class="listOfContacts" style="width: 100%;/* height: calc(100% - 200px); */">
                    <table class="messenger-list-item" data-contact="3" v-for="(value, index )  in items.data">
                        <tbody>
                        <tr data-action="0" @click="activeChat(value)">
                            <td style="position: relative">
                                <span class="activeStatus"></span>
                                <div class="avatar av-m"
                                     :style='{ backgroundImage: "url(../storage/users-avatar/" + value.avatar + ")", }'
                                     v-if=" value.avatar !=null"></div>
                                <div class="avatar av-m" v-else></div>
                            </td>
                            <td>
                                <p data-id="user_3">
                                    {{ value.name}}
                                </p>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <div class="messenger-favorites app-scroll-thin" v-if="items.total ==0">
                        <p class="message-hint"><span>Nothing to show.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {

        data() {
            return {
                items: [],
                users: [],
                users_id: '',
                selected_id: '',
                searchText: '',
                search_c: false,
            }

        },

        methods: {
            search() {
                if (this.searchText != null) {
                    axios.post('/search/user', {
                        name: this.searchText
                    })
                        .then((response) => {
                            this.items = response.data;
                            this.search_c = true;
                        });

                }
                this.$store.state.user_id = '';
            },
            activeChat(data) {
                this.updateUnreadCount(data, true);
                NProgress.start();
                axios.get('/private-messages/' + data.id).then(response => {
                    this.selected_id = data.id;
                    this.$store.state.data_message = response.data;
                });
                this.$store.state.user_name = data.name;
                this.$store.state.user_avatar = data.avatar;
                this.$store.state.user_id = data.id;
                NProgress.done();
            },
            fetchUser() {
                axios.get('/user-chat/').then(response => {
                    this.users = response.data.users;
                    this.users_id = response.data.user_id;
                });
            },
            updateUnreadCount(contact, reset) {

                this.users = this.users.map((single) => {

                    if (single.id !== contact.id) {
                        return single;
                    }

                    if (reset)
                        single.unread = 0;
                    else
                        single.unread += 1;

                    return single;
                })
            }
        },
        created() {

            console.log(this.$store.state.user_id)
            this.fetchUser();
        },

    }
</script>
