<template>
    <div class="m-header m-header-messaging">
        <nav>
            <div style="display: inline-flex;">
                <a href="#" class="show-listView">
                    <i class="fas fa-arrow-left"></i>
                </a>

                <div class="avatar av-s header-avatar"
                     :style='{ backgroundImage: "url(../storage/users-avatar/" + userAvatar + ")", }' v-if="userAvatar !=''"
                     style="margin-top: -5px; margin-bottom: -5px; margin-right:5px;">
                </div>
                <a href="#" class="user-name">{{userName}}</a>
            </div>
            <nav class="m-header-right">
                <a href="#" class="add-to-favorite" style="display: inline;">
                    <i class="fas fa-star"></i> </a>
                <a href="http://localhost/chat/public/home">
                    <i class="fas fa-home"></i></a>
                <a href="#" class="show-infoSide">
                    <i class="fas fa-info-circle"  v-if="userId"></i>
                </a>
            </nav>
        </nav>
    </div>


</template>

<script>
    export default {
        props: ['user'],
        computed: {
            userId() {
                return this.$store.state.user_id
            },
            userName() {
                return this.$store.state.user_name
            },
            userAvatar() {
                return this.$store.state.user_avatar
            }
        },
        methods: {}
    }
</script>
